body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: #fff;
  transition: background 0.4s ease;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #ff8c00;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
